<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подсчет отработаных часов</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="p-3">
    <div id="vm">
        <table class="table table-bordered">
            <caption class="text-center display-4" style="caption-side: top;">Подсчет отработанных часов за месяц</caption>
            <thead>
                <tr>
                    <td>День</td>
                    <td>Начало работы</td>
                    <td>Конец работы</td>
                </tr>
            </thead>
            <tbody>
                <tr is="table-row" v-for="day in days" v-bind:key="day.day" v-bind:index="day.day" v-model="input"></tr>
            </tbody>
        </table>
        <div v-if="displayResult">В этом месяце было отработано: {{hours}}</div>
        <button v-on:click="contHours" class="btn btn-primary">Пересчитать</button>
    </div>
    <script src="index.js"></script>
</body>
</html>